<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <a href="/allprouducts">ALL PRODUCTS</a><br />
    <a href="/showedproduct">MY PRODUCTS</a><br />
    <form action="/productbyprice" method="POST">
      <select name="productbyprices" id="">
        <option value="maybelline">maybelline</option>
        <option value="orly">orly</option>
        <option value="marcelle">marcelle</option>
      </select>
      <input
        name="max"
        type="number"
        name="price_greater_than"
        id=""
        placeholder="greater price"
      />
      <input
        name="min"
        type="number"
        name="price_less_than"
        id=""
        placeholder="smaller price"
      />

      <button type="submit">SEARCH</button>
    </form>
  </body>
</html>
